h1 {
  font-size: 28px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;

}

p {
  font-size: 16px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: green;
  text-align: center;
  padding: 30px 10px 30px 10px;
}

.text {
  border: 3px solid red;
  width: 400px;
  display: block;
  margin:auto;
}