
* {
  box-sizing:border-box;
}
body {
  font-family: 'Radio Canada', sans-serif;

  background-color: #d8d8d8;
}

.first-card {
  width: 60%;
  height: 500px;
  border: 4px dashed black;
  margin: 40px auto;
  display:flex;
  flex-direction:column;
  flex: 2 2 30%;
  text-align: center;
  float:center;
  border-radius: 10px;
  background-color: rgb(181, 178, 178);
}

.first-card:hover {
  background-color:#185aa5;
  box-shadow: 4px 4px #e8dd9c;
 }

.first-card img {
  align-content:center;
  width:33%;
  height:50%;
}

.cards-sub {
  flex-direction:row;
  display:flex;
}

.cards-section {
  display:flex;
  flex-direction:column;
  flex: 1 1 20%;
}

#background {
  width:100vw;
  height:200px;
}

#background img {
  width: 100vw;
  display:block;
  height: 200px;
  opacity: .5;
}

.first-card img {

  border:none;
}

.cards-img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  border: 3px solid gray;
  opacity: .7;
  margin: auto
}

#divider {
  clear:both;
  display:block;
  width:100vw;
  height:10px;
}
.cards p {
  text-align:center;
}
.cards-sub {
  clear:both;
  float:left;

}
.cards-header {
  font-size: 30px;
  font-style: italic;
  color: rgb(244, 73, 0);
}

h3 {
  font-size: 24px;
  padding: 5px;
  text-align: center;
}

.cards {
  width: 320px;
  height: 250px;
  border: 4px dashed black;
  margin: 20px;
  display:flex;
  flex-direction: column;
  flex: 2 2 30%;
  overflow: auto;
  border-radius: 10px;
  background-color: rgb(181, 178, 178);
}

.cards h3, .cards p {
  margin:20px;
}

.cards:hover {
 background-color:#185aa5;
 box-shadow: 4px 4px #e8dd9c;
}

#background {
  margin: 0px;
  padding: 0px;
}
.about-me h3 {
  margin: 0;
  padding: 10px 0px;
}

.about-me {
  background-color: gray;
  border: 3px solid #b8b4ab60;
  margin:0px;
  padding:10px;
  width: inherit;
  height: 200px;
  border-radius: 10px;
  overflow:auto;
}
.about-me p {
  text-align: center;
  font-size: 16px;
  color: rgb(197, 197, 197);
  line-height: 1.4em;
  padding: 0px 40px 0px 40px;
}

#background h2 {
  padding: 0px 0px 0px 40px;
}
#header {
  width: inherit;
  height: 80px;
  border-radius: 6px;
  display:flex;
  flex: 1 1 30%;
  justify-content: center;
  margin: 0px auto 0px 150px;
}

.dropmenu {
  padding:20px;
  position: relative;
  display:inline-block;
}



.dropmenu img {
  width:50px;
  height:40px;
  opacity: .5;
  cursor:pointer;
  z-index: auto;
  background-color: #f4f4f4;
}

.drop-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #903b3b33;
  z-index: 1;
}


.drop-content a {
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
}

#background h2 {
   position: relative;
   top: -200px;
   left: 0px;
   font-size: 30px;

}

#contact-info p {
  text-align: right;
  padding: 0px 30px 0px 10px;
  font-size: 20px;
}



#contact-info ul li {
  display: block;
  text-align: right;
  padding: 0px 30px 0px 10px;
  font-size: 20px;

}

/* change dropdown color on hover */
.dropmenu a:hover {background-color: #ddd;}

/* show dropdown when you hover over the button */
.dropmenu:hover .drop-content {display: block;}


.button:hover {
  background-color: #ebe9c6;
}

h1 {
  padding: 40px;
  margin: auto;
  border-radius: 10px;
  font-family: 'Koulen', cursive;
  font-size: 50px;
  letter-spacing: .1em;
}

header {
  display:flex;
  justify-content: center;
  width: 100vw;
  background-color: rgb(138, 162, 182);
}